* {
  font-family: Montserrat, sans-serif;
  background-color: #DAE5E8;
}

h1 {
  color:white;
  border-radius: 20px;
  border-style: inset;
  padding: 20px 30px 100px 100px;
  border-color: black;
  position: static;
  background-image: url('img/mountain-road-background.jpg');
  background-position: center;
  background-size: cover;
}
#me{
  margin: 10px 470px;
}
#nav {
  color: black;
  font-size: 25px;
  width: 800px;
  position: relative;
  margin: 10px 200px;
  padding: 10px 10px 10px 10px;
  border-style: double;
  border-radius: 20px;
  background-color: black;
}
p {
  font-size: 15px;
}
#top5{
  color: black;
  font-size: 15px;
  margin: 25px ;
  padding: 20px;
  overflow: hidden;
  letter-spacing:normal;
  display: inline-block;
}

footer p {
  color: #001397;
  text-align: center;
