* {
  font-family: sans-serif;
  background-color: black;
}

h1 {
  color:white;
  border-style: double;
  padding: 20px 30px 100px 100px;
  border-color: black;
  background-image: url('bmw-background.jpg');
  background-position: center;
  background-size: cover;
}

ul {
  color: cyan;
  font-size: 30px;
  margin: 0px ;
  padding: 0px;
  overflow: hidden;
  letter-spacing:normal;

}

li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 5px;
  border-style: groove;
  border-color: red;
  border-spacing: 20px;
  background-color: black;
}


footer p {
  color: white;
  text-align: center;
